#root {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 1em #61dafbaa);
}


nav {
  display: block;
  border: 0;
  z-index: 10;
}

.nav-top_bar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-item {
  display: flex;
  margin: 0 1rem;
  width: 100%;
}

.linkWrap {
  justify-content: space-evenly;
}

.logWrap {
  justify-content: center;
  padding-right: 30px;
} 

.logout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.logButton {
  margin: 5px;
}

footer {
  display: flex;
  /*
  width: 100%;
  background-color: grey;
  height: 100px;
  align-items: center;
  */
}

.reactShow {
  display: flex;
  flex-direction: column;
  text-align: center;
    position: absolute;
    left: 10px;
    top: 50px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}