.rowWrap {
  display: flex;
  flex-direction: row;
}

.colWrap {
  display: flex;
  flex-direction: column;
}

.amwrap {
  text-align: left;
  margin-right: 2rem;
}

.max70 {
  max-width: 70rem;
}

.max50 {
  max-width: 50rem;
}

.socials {
  align-items: flex-start;
}

.socials img {
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 50px;
  height: 50px;
  will-change: filter;
  transition: filter 300ms;
}

.socials img:hover {
  filter: drop-shadow(0 0 1em #d11720fa);
  cursor: pointer;
}

.login-menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
  padding: 5px;
  position: absolute;
  right: 20px;
  max-width: 300px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.815);
  transform: translateY(-10px);
  visibility: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.login-menu.open {
  transform: translateY(0);
  visibility: visible;
}

.login-menu input {
  border-radius: 5px;
}

.login-menu .error {
  color: rgba(255, 0, 0, 0.479);
  visibility: hidden;
}

.arrow-icon {
  display: inline-block;
  padding-left: 5px;
  transition: transform 0.3s ease-in-out;
  rotate: -90deg;
}

.arrow-icon.down {
  transform: rotate(90deg);
}

.profilePic {
  max-height: 15em;
  border-radius: 25px;
}
